@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;

  --off-white-rgb: 237, 236, 232;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-inter);
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: -0.025em;
  font-family: var(--font-bebas-neue);
  font-weight: 400;
}

@layer utilities {
  .grid-rows-12 {
    grid-template-rows: repeat(12, 1fr);
  }
}

/* Add subtle grid to all pages */
.grid-bg {
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
}

.font-bebas {
  font-family: var(--font-bebas-neue);
}

.font-inter {
  font-family: var(--font-inter);
} 